* {
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

.wrapper {
  background: url('../img/background.png') center/ cover no-repeat;
  height: 100vh;
  overflow: auto;
  color: #fff;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #fff;
}

/* HEADER */

.header {
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.header__inner {
  font-family: 'Ubuntu', sans-serif;
  max-width: 1366px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 80px;
  margin: 0 auto;
  user-select: none;
}

.header__logo {
  font-weight: 700;
  font-size: 20px;
  transition: all 0.2s linear;
}

.header__icons-and-welcome {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__icons-link {
  display: inline-block;
  margin-right: 25px;
  transition: all 0.2s linear;
}

.header__icons-link--last {
  margin-right: 50px;
  position: relative;
}

.calendar-path,
.envelope-path,
.compass-path {
  fill: currentColor;
  transition: all 0.2s linear;
}

.header__welcome {
  font-size: 14px;
  position: relative;
}

.header__welcome::before {
  content: '';
  width: 2px;
  height: 20px;
  background: rgba(255, 255, 255, 0.9);
  opacity: 0.3;
  position: absolute;
  top: -3px;
  left: -25px;
}

.header__log-in,
.header__sign-up {
  transition: all 0.2s linear;
}

.header__icons-link:hover .calendar-path,
.header__icons-link:hover .envelope-path,
.header__icons-link:hover .compass-path,
.header__logo:hover,
.header__log-in:hover,
.header__sign-up:hover {
  color: #01813f;
  transition: all 0.2s linear;
}

/* MAIN */

.main {
  display: flex;
  align-items: center;
  padding: 55px 0;
  flex: 1 1 auto;
}

.sign-up__wrapper {
  margin: 0 auto;
  max-width: 444px;

  background-color: #fff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}

.sign-up__form {
  padding: 30px 60px 38px;
  color: #434343;
  position: relative;
}

.sign-up__form::before {
  content: '';
  width: 20px;
  height: 20px;
  background: #3cb878;
  position: absolute;
  left: 0;
}

.sign-up__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 14px;
}

.sign-up__sign-up {
  font-size: 20px;
}

.sign-up__log-in {
  font-size: 14px;
  color: #3cb878;
  transition: all 0.2s linear;
}

.sign-up__log-in:hover {
  color: #01813f;
  transition: all 0.2s linear;
  text-decoration: underline;
}

.sign-up__social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 30px;
}

.social-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 158px;
  height: 48px;
  padding: 12px 22px 12px 17px;
  border-radius: 3px;
  position: relative;
}

.social-form::after {
  content: '';
  width: 1px;
  height: 28px;
  opacity: 0.1;
  position: absolute;
  background: black;
}

.sign-up__facebook::after {
  left: 48px;
}

.sign-up__google::after {
  left: 55px;
}

.sign-up__facebook {
  background-color: #305db8;
  transition: all 0.2s linear;
}

.sign-up__facebook:hover {
  background-color: #022263;
  transition: all 0.2s linear;
}

.sign-up__google {
  background-color: #df4a32;
  transition: all 0.2s linear;
}

.sign-up__google:hover {
  background-color: #ab1f09;
  transition: all 0.2s linear;
}

.sign-up__choice {
  margin: 0 0 12px;
}

.sign-up__choice {
  text-align: center;
  position: relative;
}

.sign-up__choice-word {
  font-size: 14px;
  color: #848484;
}

.sign-up__choice-word::before,
.sign-up__choice-word::after {
  content: '';
  width: 154px;
  height: 1px;
  background: #f2f2f2;
  position: absolute;
  top: 10px;
}

.sign-up__choice-word::before {
  left: 0;
}

.sign-up__choice-word::after {
  right: 0;
}

.input {
  font-size: 14px;
  width: 100%;
  margin: 0 0 15px;
  padding: 14px 20px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  outline: none;
}

.input:focus {
  color: #434343;
  opacity: 1;
  font-size: 14px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  border-radius: 4px;
}

.input::placeholder {
  opacity: 0.5;
}

.agree {
  display: flex;
  gap: 5px;
  line-height: 20px;
  margin-bottom: 20px;
  height: 20px;
  font-size: 14px;
}

.checkbox__wrapper {
  display: flex;
  gap: 8px;
  margin: 0 0 20px;
  cursor: pointer;
  user-select: none;
}

.checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid #f2f2f2;
}

.checkbox__icon {
  display: none;
  width: 18px;
  height: 18px;
  stroke: #3cb878;
}

.checkbox__icon path {
  transition: stroke 0.3s linear;
}

input[type='checkbox'] {
  display: none;
}

.checkbox__terms {
  color: #3cb878;
}

.checkbox__input:checked ~ .checkbox .checkbox__icon {
  display: block;
}

.checkbox__wrapper:hover .checkbox__icon path {
  transition: stroke 0.2s linear;
  stroke: #01813f;
}

.checkbox__terms:hover {
  transition: color 0.4s linear;
  color: #01813f;
  border-bottom: 1px solid #01813f;
}

.sign-up__button {
  padding: 16px 100px;
  font-size: 16px;
  background-color: #3cb878cc;
  color: #fff;
  border-radius: 4px;
  opacity: 0.8;
  outline: none;
  border: none;
  cursor: pointer;
  width: 100%;
  transition: all 0.2s linear;
}

.sign-up__button:hover {
  transition: all 0.2s linear;
  background-color: #01813f;
}
